[DEFAULT]
# inherit = other-config.cfg

[bootstrap]
# mirrors = inherit will copy the GENTOO_MIRRORS from your host's make.conf
mirrors = inherit

# portage = inherit will bind mount your host's /usr/portage inside the chroot during bootstrap
portage = inherit

[system]
# the only required setting in [system]
arch = amd64

# required for x86 guests
# subarch = i686 # (or i486)

locales = en_GB.UTF-8 UTF-8,en_US.UTF-8 UTF-8, de_DE.UTF-8 UTF-8
default_locale = en_US.utf8
kernel = /boot/vm-kernel
timezone = Europe/Berlin
memory = 1024
vcpu = 4
#boot_services = vixie-cron syslog-ng
# make sure that you have all keywords/use flags set, otherwise the emerge will file
#merge_list = app-admin/syslog-ng sys-process/vixie-cron

[storage]
layout = simple
type = lvm
volume_group = my-lvm-volume-group

[storage_simple]
disks = 2
disk0_mount = /
disk0_size = 20G
disk0_fs = ext4
disk0_name = %(name)s-hdd0
disk0_domu_device = /dev/xvda1
disk1_mount =
disk1_size = 512M
disk1_fs = swap
disk1_name = %(name)s-swap
disk1_domu_device = /dev/xvda2

[network]
config = auto
bridge = br0

[portage_uses]
dev-vcs/git = -gpg -perl -python
app-portage/layman = git -cvs -subversion

[portage_keywords]
app-portage/squashed-portage = ~amd64

[make.conf]
CFLAGS=-O2 -pipe -march=native
CXXFLAGS=${CFLAGS}
USE=mmx sse sse2 -X -gtk -gnome -qt -qt3 -qt4 -cups
MAKEOPTS=-j4 -l6
EMERGE_DEFAULT_OPTS=--jobs=4 --load-average=6 --keep-going
ACCEPT_LICENSE=*
DISTDIR=/var/cache/distfiles

#[layman]
#overlays=http://gentoo.j-schmitz.net/portage-overlay.xml
#add_overlays=last-hope

[post_setup]
# This binary will be copied into the chroot and is executed by the bootstrap.sh script
# chroot_exec =

# This binary will be called as the very last step with the working directory as the only argument
# exec = /bin/ls
